body{
  font-family: Raleway;
}

.hh-1{
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.page-footer{
  background-color: rgb(248, 249, 250) !important;
}

.Qbtn{
  width: 100px;
}